.container{
    height: 100vh;
    max-width: 992px;
    margin: 0 auto;
    padding: 2.5rem 2rem;
    
    display: flex;
    flex-direction: column;
}

.container section{
    flex: 1;
    display: grid;
    gap: 6.25rem;
    align-content: center;
}

@media (min-width: 768px){
    .container section{
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width:425px){
    .container section{
        grid-template-rows: 1fr 1fr;
    }
}